<!-- ISTO NÃO FUNCIONA FOI SÓ UM TESTE QUE TALVEZ AINDA POSSA SER CORRIGIDO -->
<launch>
    <node pkg="tf" type="static_transform_publisher" name="tfMessage" args="1 0 0 0 0 0 1 link1_parent link1 100" />
    <!-- Launch your nodes here -->
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" output="screen">
        <!-- Add parameters for gmapping node if needed -->
        <remap from="tf" to="base_scan"/>
        <!-- Add this so that it doesn't duplicate the values in the tf topic -->
        <param name="transform_publish_period" value="0"/>
        <!-- But it doesn't work ??? Maybe it is deleting something important -->

    </node>

    <!-- Set logging level for gmapping message filter -->
    <!-- <node name="logger_level" pkg="rosconsole" type="set_logger_level" args="ros.gmapping.message_filter DEBUG"/> -->
</launch>
